.tasks-container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .task-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30%;
  
    input,
    .task-description {
      word-wrap: break-word;
      text-align: start;
      margin: 0.2%;
      font-size: 2rem;
      border: 2px solid lightgray;
      width: 80%;
      padding: 1% 3% 1% 3%;
      border-radius: 5px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }
  
    .task-description {
      box-shadow: none;
    }
    .task {
      display: flex;
      width: 100%;
    }
  
    .action {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 800;
      width: 1vw;
      height: 1vw;
      padding: 2%;
      color: green;
    }
    #delete {
      color: red;
    }
  }