.security-list__container {
  text-align: left;
  width: 30%;
  margin-right: 5%;
}

.security-info__container {
  border: 1px solid #ccc;
  position: absolute;
  top: 18vh;
  left: 18vw;
  width: 60vw;
  height: auto;
  max-height: 64vh;
  padding: 16px;
  background-color: white;
  overflow-y: scroll;

  z-index: 500;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.security-list__container ul li {
  padding: 2% 0% 2% 0%;
  border-bottom: gray 1px solid;
  text-decoration: none;
  list-style: none;
  font-size: 1.5em;
  &:hover {
    color: gray;
    cursor: pointer;
  }
}

.security-info--title {
  margin-top: 10px;
  font-size: 1.5em;
  margin-bottom: 1%;
  text-align: center;
}
.security-info--content {
  font-size: 1em;
  white-space: pre-wrap;
  margin: 30px auto;
}
