.security-list__container {
  text-align: left;
  width: 30%;
}

.security--info {
  border: 1px solid black;
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  background-color: white;
}

.security-list__container ul li {
  padding: 2% 0% 2% 0%;
  border-bottom: gray 1px solid;
  text-decoration: none;
  list-style: none;
  font-size: 1.5em;
  &:hover {
    color: lightgray;
    cursor: pointer;
  }
}
