@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@import 'security-switch';
@import 'security-list';
@import 'start';
@import 'list';
@import 'comments';

a {
  text-decoration: none;
  color: black;
}

.button-group {
  width: 100%;
}

button,
.selected-button {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  border: 2px solid lightgray;
  width: auto;
  margin: 2%;
  padding: 1%;
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

button {
  color: black;
  background: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.selected-button {
  color: white;
  background: black;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.button__mainpage {
  box-sizing: border-box;
  height: 75px;
  position: absolute;
  top: 5vh;
  left: 5vw;
  padding: 10px;
  margin: 0;
}
